In [4]:
import pandas as pd

In [5]:
pd.__version__

'1.4.2'

In [6]:
!pip install pyarrow

Requirement already satisfied: pyarrow in /home/codespace/anaconda3/lib/python3.9/site-packages (21.0.0)

In [7]:
df_jun = pd.read_parquet('https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2023-01.parquet')

In [8]:
df_feb = pd.read_parquet('https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2023-02.parquet')

In [9]:
df_jun.shape

(3066766, 19)

In [10]:
total_df = pd.concat([df_jun, df_feb], axis=0)

In [11]:
assert len(total_df.columns) == len(df_jun.columns) == len(df_feb.columns) , 'Не та ось ( посмотри на axis )'

AssertionError: Не та ось ( посмотри на axis )

In [12]:
print(len(total_df.columns))

20

In [13]:
import sklearn

In [14]:
sklearn.__version__

'1.0.2'

In [15]:
total_df.head(1)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee,Airport_fee
0,2,2023-01-01 00:32:10,2023-01-01 00:40:36,1.0,0.97,1.0,N,161,141,2,9.3,1.0,0.5,0.0,0.0,1.0,14.3,2.5,0.0,NaN

In [16]:
total_df['duration'] = (total_df['tpep_dropoff_datetime'] - total_df['tpep_pickup_datetime']).dt.total_seconds() / 60

In [17]:
total_df = total_df.drop(['tpep_dropoff_datetime','tpep_pickup_datetime'],axis=1)

In [18]:
total_df['duration'].std()

42.71558930076808

In [19]:
total_df['duration'].dtype

dtype('float64')

In [20]:
mask = ((total_df['duration'] <= 60) & (total_df['duration'] >= 1))

In [21]:
# total_df = total_df.loc[mask] падает ядро из-за того, что не хватает RAM}

In [22]:
total_df = total_df.query('1 <= duration <= 60')

In [23]:
total_df.shape[0]

5865124

In [24]:
total_df.shape[0]

5865124

In [25]:
5865124/5980721

0.9806717283752243

In [26]:
total_df.head(5)

,VendorID,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee,Airport_fee,duration
0,2,1.0,0.97,1.0,N,161,141,2,9.3,1.00,0.5,0.00,0.0,1.0,14.30,2.5,0.00,NaN,8.433333
1,2,1.0,1.10,1.0,N,43,237,1,7.9,1.00,0.5,4.00,0.0,1.0,16.90,2.5,0.00,NaN,6.316667
2,2,1.0,2.51,1.0,N,48,238,1,14.9,1.00,0.5,15.00,0.0,1.0,34.90,2.5,0.00,NaN,12.750000
3,1,0.0,1.90,1.0,N,138,7,1,12.1,7.25,0.5,0.00,0.0,1.0,20.85,0.0,1.25,NaN,9.616667
4,2,1.0,1.43,1.0,N,107,79,1,11.4,1.00,0.5,3.28,0.0,1.0,19.68,2.5,0.00,NaN,10.833333

In [27]:
total_df.dtypes

VendorID                   int64
passenger_count          float64
trip_distance            float64
RatecodeID               float64
store_and_fwd_flag        object
PULocationID               int64
DOLocationID               int64
payment_type               int64
fare_amount              float64
extra                    float64
mta_tax                  float64
tip_amount               float64
tolls_amount             float64
improvement_surcharge    float64
total_amount             float64
congestion_surcharge     float64
airport_fee              float64
Airport_fee              float64
duration                 float64
dtype: object

In [28]:
total_df['store_and_fwd_flag']

0             N
1             N
2             N
3             N
4             N
           ...
2913950    None
2913951    None
2913952    None
2913953    None
2913954    None
Name: store_and_fwd_flag, Length: 5865124, dtype: object

In [29]:
total_df.isna().sum()

VendorID                       0
passenger_count           146254
trip_distance                  0
RatecodeID                146254
store_and_fwd_flag        146254
PULocationID                   0
DOLocationID                   0
payment_type                   0
fare_amount                    0
extra                          0
mta_tax                        0
tip_amount                     0
tolls_amount                   0
improvement_surcharge          0
total_amount                   0
congestion_surcharge      146254
airport_fee              2927056
Airport_fee              3084322
duration                       0
dtype: int64

In [30]:
total_df['airport_fee'] = total_df['airport_fee'].fillna(0.0)

In [ ]:
total_df['Airport_fee'] = total_df['Airport_fee'].fillna(0.0)